{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% set pageTitle = 'oro.invoice.subcategories'|trans %}

{% block navButtons %}
    {% if is_granted('invoice.subcategory_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('invoice_subcategory_create'),
                'entity_label': 'oro.invoice.subcategory.label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
